<footer class="bg-light py-5">
  <div class="container px-4 px-lg-5">
    <div class="small text-center text-muted">
      Copyright &copy; <%= Time.now.year %> - <%= config[:title] %>
    </div>
  </div>
</footer>
