$primary: #4f46e5;
$body-bg: #cbd5e1;
$input-bg: #fff;
$border-radius: 0.2em;
$font-size-base: 1.1rem;
$line-height-base: 1.6;
$btn-padding-y: 0.6em;
$btn-padding-x: 1.4em;
$nav-link-font-weight: bold;
