---
title: Home
---

<section class="page-section my-5">
  <div class="container px-4 px-lg-5">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10">
        <h1 class="fw-bold display-3">MIDDLEMAN + BOOTSTRAP</h1>
      </div>
      <div class="col-lg-8">
        <p class="mb-4">Starter Kit to build static websites fast</p>
        <a class="btn btn-primary" href="https://github.com/markets/middleman-bootstrap">
          Get started
        </a>
      </div>
    </div>
  </div>
</section>

<section class="page-section bg-primary">
  <div class="container px-4 px-lg-5">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-xl-6">
        <h2 class="text-white">About us</h2>
        <hr class="divider bg-light">
        <p class="text-white mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis sapien dapibus, ultrices quam sit amet, fermentum mauris. Integer lacinia erat augue. Maecenas est mi, pellentesque vitae malesuada eget, aliquet non nulla. In rhoncus, diam ullamcorper finibus mollis, enim nulla venenatis velit, eget elementum ipsum urna at ligula. Sed scelerisque lectus neque, non rutrum eros vehicula vitae.</p>
        <a class="btn btn-light" href="/about">Read more</a>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container px-4 px-lg-5">
    <div class="row justify-content-center text-center">
      <div class="col-lg-8 col-xl-6">
        <h2>Contact us</h2>
        <hr class="divider">
        <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis sapien dapibus, ultrices quam sit amet, fermentum mauris. Integer lacinia erat augue. Maecenas est mi, pellentesque vitae malesuada eget, aliquet non nulla. In rhoncus, diam ullamcorper finibus mollis, enim nulla venenatis velit, eget elementum ipsum urna at ligula. Sed scelerisque lectus neque, non rutrum eros vehicula vitae.</p>
        <a class="btn btn-primary" href="/contact">Read more</a>
      </div>
    </div>
  </div>
</section>
